#footer{
    width: 100%;
    height: auto;
    margin-top: 100px;
    .footer-content{
        text-align: center;
        color: white;
        background-color: black;
        padding: 20px 0;
    }
}